 #plug{
 	position: fixed;
 	right: 0px; top: 50px;
 	width: 400px; height: 260px;
 	opacity: 0.75;
 	background-color: black; color: white;
 }

 #recommend{
 	position: absolute; left: 10px; top: 10px;
 }

 #like_button{
 	position: absolute;
 	left: 30px; top: 80px;
 }

 #dislike_button{
 	position: absolute;
 	left: 130px; top: 80px;
 }


/* User interface HTML */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: '\e260';
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
